@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 640px) {
  .grid {
    grid-template-columns: 1fr; /* ใช้คอลัมน์เดียวสำหรับมือถือ */
  }
  .w-36 {
    width: 150px; /* ลดขนาด Doughnut chart */
    height: 150px;
  }
  .w-56 {
    width: 200px; /* ลดขนาดภายใน */
    height: 200px;
  }
}


/* @media (max-width: 640px) {
  .text-lg {
    font-size: 14px;
  }
  .space-y-4 {
    margin-bottom: 1rem;
  }
} */
